* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}


body {
    height: 100vh;
}
.header {
height: 10%;
/* border: 2px solid red; */
text-align: center;
background-image: url(/imgs/pawprints.jpeg);
 
 background-size: cover;
}

.title {
    
    font-size: calc(0.3 * 10vh);
    font-family: 'Bagel Fat One', cursive;
}

.main {
    /* border: 3px solid blue; */
    display: flex;
    height: fit-content;
    background-color: rgb(198, 235, 191);
    background-size: cover;
}

.leftpnl{
    /* border: 2px solid greenyellow; */
    width: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rightpnl {
    /* border: 2px solid greenyellow; */
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.middlepnl{
    /* border: 2px solid greenyellow; */
    width: 70%;
    height: 100%;
   
} 


.leftimgs,
.rightimgs {
    /* border: 2px solid black; */
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.leftimgs {
align-items: start;
    justify-content: center;
}
.rightimgs {
    align-items: end;
justify-content: center;
}

.dogimgs, .dogcollars, .dogfoodbowls {
    height: calc(0.2 * 85vh);
    width: 100%;
    margin-bottom: 40px;

}

.middleDiv,
.topDiv,
.bottomDiv {
    /* border: 2px solid brown; */
    /* height: 33%; */
    /* margin: 2px; */
    padding: 5px 17px;
    /* text-align: center; */
}

.topDiv {
    /* height: fit-content; */
    font-family: 'Roboto', sans-serif;
    /* height: 65%; */
   font-size: 13px;
   color: rgb(154, 47, 14);
   margin-top: 20px;
}

ul {
    text-align: center;
    padding-inline-start: 0;
    list-style-position: inside;
}

.list {
    /* border: 2px dotted blue; */
    font-family: 'Diphylleia', serif;
   
}
.list p {
    font-family: 'Roboto', sans-serif;
   
}
.middleDiv {
    font-size: 13px;
    font-family: 'Diphylleia', serif;
    /* height: 20%; */
    color: rgb(154, 47, 14);
}
.middleDiv p, .middleDiv h5{
    font-family: 'Roboto', sans-serif;
}

.bottomDiv {
    /* border: 2px solid red; */
    font-size: 13px ;
    /* height: 20%; */
    color: rgb(154, 47, 14);
}



a:-webkit-any-link {
    color: rgb(221, 49, 40);
    text-align: center;
}
.footer {
    height: 50px;
    /* border: 2px solid rebeccapurple; */
    background-color: rgb(198, 235, 191);
}